header, main, footer {
  padding-left: 300px;
}

body {
  font-size: 13px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.courier-new {
  font-family: "Courier New";
}

a:hover {
  color: red;
}

.pointer-cursor {
  cursor: pointer;
}

.loader {
  white-space: pre;
}

.welcome-subtitle {
  font-size: 5px;
  color: black;
  font-weight: 700 !important;
}

.welcome-small {
  font-size: 50%;
}